# Python
__pycache__/
*.pyc
.env
.env.*
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
build/

# Docker
*.log

# OS
.DS_Store

.env
*.env
.claude/
*.sh
docker-compose.yml
*.sql
*.env
.env
*.conf
docker-compose.dev.yml.example
